# JWT
JWT_SECRET=change-me

# booking-service
BOOKING_PORT=8083
BOOKING_MONGO_HOST=localhost
BOOKING_MONGO_PORT=27019
BOOKING_MONGO_DB=booking-service
BOOKING_RABBITMQ_URI=amqp://guest:guest@localhost:5672

# car-service
CAR_PORT=8082
CAR_MONGO_HOST=localhost
CAR_MONGO_PORT=27018
CAR_MONGO_DB=car-service
CAR_RABBITMQ_URI=amqp://guest:guest@localhost:5672

# user-service
USER_PORT=8081
USER_MONGO_HOST=localhost
USER_MONGO_PORT=27017
USER_MONGO_DB=user-service
USER_RABBITMQ_URI=amqp://guest:guest@localhost:5672
