# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# booking-service
BOOKING_MONGO_USER=
BOOKING_MONGO_PASSWORD=
BOOKING_MONGO_DB=

# car-service
CAR_MONGO_USER=
CAR_MONGO_PASSWORD=
CAR_MONGO_DB=

# user-service
USER_MONGO_USER=
USER_MONGO_PASSWORD=
USER_MONGO_DB=

BLOB_CONNECTION_STRING=

RABBIT_MQ_USER=
RABBIT_MQ_PASSWORD=
RABBIT_MQ_URI=
CURRENCY_API_KEY=